body {
  margin: auto;
}
body {
  background: linear-gradient(
    -45deg,
    #eae4e9,
    #fff1e6,
    #fde2e4,
    #e2ece9,
    #bee1e6,
    #f0efeb,
    #dfe7fd,
    #cddafd,
    #72efdd,
    #80ffdb
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
ul {
  margin: 0;
  padding: 0;
}
.addButton {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

ul li:nth-child(odd) {
  background: grey;
}
ul li:hover {
  background: rgb(63, 60, 60);
}
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.addButton {
  float: left;
  text-align: center;
  padding: 6px;
  border-radius: 10;
  width: 8%;
  font-size: 12px;
  transition: 0.3s;
}
